<h2 class="text-bold text-left mb-4 ms-5 mt-5">LogIn</h2>

<div class="mt-5 ms-5 mb-5 w-75 d-flex justify-content-center align-items-center">

  <form [formGroup]="login" class="row g-3" (ngSubmit)="SendData()">


    <div class="form-floating mb-3 w-75">
      <input
      [ngClass]="{
        'is-valid': !login.get('email')?.errors && (login.get('email')?.touched||login.get('email')?.dirty),
        'is-invalid': login.get('email')?.errors&& (login.get('email')?.touched||login.get('email')?.dirty)
      }"
        type="email"
        formControlName="email"
        id="email"
        class="form-control"
        placeholder="Email"
      />
      <label for="email">Email</label>
      <alertError [formName]="login" controleName="email" />
    </div>

    <div class="form-floating mb-3 w-75">
      <input
      [ngClass]="{
        'is-valid': !login.get('password')?.errors && (login.get('password')?.touched||login.get('password')?.dirty),
        'is-invalid': login.get('password')?.errors&& (login.get('password')?.touched||login.get('password')?.dirty)
      }"
        type="password"
        formControlName="password"
        id="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="password">Password</label>
      <alertError [formName]="login" controleName="password" />
    </div>




    <div class="col-12 d-flex justify-content-center w-75">
      <button
        type="submit"
        [disabled]="login.invalid||isLoading"
        class="btn btn-primary p-3 w-50 rounded-pill"
      >
      @if(!isLoading){
        login
      }@else {
        <i class="spinner-border"></i>
      }
      </button>
    </div>
    <a routerLink="/forget-password" class="link-primary">Forgot password?</a>


   @if (errorMsg != '' ) {
    <div class="alert alert-danger w-75 ">{{errorMsg}}</div>
   } 
  </form>
</div>
