<div class="container d-flex flex-column align-items-start formContainer">
  <h2 class="fw-bold text-uppercase fs-3 mb-4">Sign In</h2>

  <!-- Username -->
  <div class="form-floating mb-4 w-100">
    <input
      type="text"
      id="username"
      class="form-control"
      placeholder="Username"
    />
    <label for="username">Username</label>
  </div>

  <!-- Password -->
  <div class="form-floating mb-4 w-100">
    <input
      type="password"
      id="password"
      class="form-control"
      placeholder="Password"
    />
    <label for="password">Password</label>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary mt-3 w-100">Submit</button>
</div>
