

<div class="flex flex-column gap-3 align-items-center justify-content-center h-screen">
   <div class="w-20rem">
    <p class="font-bold text-left">register works!</p>
   </div>

    <p-floatLabel>
        <input pInputText id="firstName" />
        <label for="firstName">First Name</label>
    </p-floatLabel>

    <p-floatLabel>
        <input pInputText id="lastName" />
        <label for="lastName">Last Name</label>
    </p-floatLabel>

    <p-floatLabel>
        <input pInputText id="email" />
        <label for="email">Email</label>
    </p-floatLabel>

    <p-floatLabel>
        <p-password />
        <label for="password">Password</label>
    </p-floatLabel>

    <p-floatLabel>
        <p-password />
        <label for="password">Re-Password</label>
    </p-floatLabel>
</div>
